<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_webSQL"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ftimember.off.fti.or.th/_layouts/iSQL/webSQL.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_webSQL" contract="iSQL.webSQL" name="BasicHttpBinding_webSQL"/>
        </client>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
            <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="false"/>
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
          <behavior name="myEndPointBehavior">
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
    <system.net>
        <defaultProxy useDefaultCredentials="true"/>
    </system.net>
</configuration>
